doc/synthesis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.w3.org/2001/10/synthesis" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns="http://www.w3.org/2001/10/synthesis" elementFormDefault="qualified">
	<xsd:annotation>
	<xsd:documentation>SSML 1.0 Schema (20031204)</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
	<xsd:documentation>Copyright 1998-2003 W3C (MIT, ERCIM, Keio),
  All Rights Reserved. Permission to use, copy, modify and
  distribute the SSML schema and its accompanying documentation
  for any purpose and without fee is hereby granted in
  perpetuity, provided that the above copyright notice and this
  paragraph appear in all copies.  The copyright holders make no
  representation about the suitability of the schema for any purpose. 
  It is provided "as is" without expressed or implied warranty.

  Copyright (c) 2002-2004 ScanSoft Inc.

  This is a modified version of the DTD from the W3C SSML 04 December
  2003 working draft. It enhances audio and lexicon element
  attribute support as supported by the ScanSoft, Inc. Speechify
  product, and to permit parsing W3C SSML 02 December 2002 working draft
  documents. The original version is available at
  http://www.w3.org/TR/speech-synthesis/synthesis.xsd
  </xsd:documentation>
	</xsd:annotation>

	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" 
	            schemaLocation="http://www.w3.org/2001/xml.xsd"/>
   <xsd:redefine schemaLocation="synthesis-core.xsd">

    <xsd:annotation>
        <xsd:documentation>restriction: version and attributes on speak mandatory</xsd:documentation>
    </xsd:annotation>
        <xsd:complexType name="speak" mixed="true">
            <xsd:complexContent>
                <xsd:restriction base="speak">
		<xsd:group ref="speak.class"/>
		<xsd:attribute name="version" type="version.datatype"  use="required"/>
		<xsd:attribute ref="xml:lang" use="optional"/>
		</xsd:restriction>
            </xsd:complexContent>
        </xsd:complexType>

    <xsd:annotation>
        <xsd:documentation>restriction: src attribute on audio is mandatory</xsd:documentation>
    </xsd:annotation>
        <xsd:complexType name="audio" mixed="true">
            <xsd:complexContent>
                <xsd:restriction base="audio">
		<xsd:group ref="descAndSentenceAndStructure.class"/>
		<xsd:attribute name="src" type="xsd:anyURI" use="required"/>
		</xsd:restriction>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:redefine>

</xsd:schema>
